body {
  margin: 0;
  font-family: Verdana;
}

nav {
  background: #efefef;
  margin: 0;
}

nav ul {
  color: #a8a8a8;
  list-style: none;
  margin: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 14px;
  display: block;
  color: #a0a0a0;
  text-decoration: none;
}


nav a:hover {
  background: #ef741d;
  color: #fff;
}

@media (min-width: 400px) {
  nav ul:last-child, nav ul:first-child {
    padding: 0;
  }

  nav ul:last-child li {
    display: none;
  }

  nav ul:first-child li {
    display: inline-block;
  }
}

@media (min-width: 600px) {
  nav ul:last-child, nav ul:first-child {
    padding-left: 2em;
  }

  nav ul:last-child li {
    display: inline-block!important;
  }

  nav ul:first-child li {
    display: none;
  }
}


